@model IEnumerable<MyNewBlog.Models.Article>
@{
    ViewBag.Title = "Details";
}
<section id="container">
    <div class="wrap-container">
        <!-----------------Content-Box-------------------->
        <article class="single-post zerogrid">
            <div class="row wrap-post">
                <!--Start Box-->
                <div class="entry-header">
                    <span class="time">@Html.DisplayNameFor(model => model.date)</span>
                    <h1 class="entry-title">
                        @Html.DisplayNameFor(model => model.title)
                    </h1>
                    <span class="@@Html.DisplayNameFor(model => model.link)"><a href="#">@Html.DisplayNameFor(model => model.author)</a>, <a href="#"></a></span>
                </div>

                <div class="post-thumbnail-wrap">
                    <img src="#">
                </div>


                <div class="entry-content">
                    <div class="entry-content">
                        @Html.DisplayNameFor(model => model.description)
                    </div>
                </div>
            </div>
        </article>


        <div class="zerogrid">
            <div class="row">
                <div class="container">
                    <div class="panel panel-default panel-collapse">

                        <div class="panel-body">
                            <textarea tabindex="" class="form-control form-horizontal form-control-static"
                                      rows="10px" cols="100%"></textarea>
                            <div class="btn-group" role="group" aria-label="...">
                                <button type="button" class="btn btn-default">Left</button>
                                <button type="button" class="btn btn-default">Middle</button>
                                <button type="button" class="btn btn-default">Right</button>
                            </div>
                        </div>


                    </div>

                    <hr>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <ul class="list-groups">
                                <li class="list-inline list-group-item-warning">
                                    <h4>神罗天正 <span class="label label-default">&nbsp;我觉得还行</span></h4>
                                </li>
                                <li class="list-inline list-group-item-info">
                                    <h4>噶涪陵阿铁 <span class="label label-default">&nbsp; 我觉得不行</span></h4>
                                </li>
                                <li class="list-inline list-group-item-success">
                                    <h4>妈的智障 <span class="label label-default"> &nbsp;观望之中</span></h4>
                                </li>
                            </ul>
                        </div>

                        <div class=" panel-footer text-center">
                            <nav aria-label="Page navigation">
                                <ul class="pagination">
                                    <li>
                                        <a href="#" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <li><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li>
                                        <a href="#" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

