
<!DOCTYPE html>

<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <link rel="icon" href="../../favicon.ico">

    <title>Signin Template for Bootstrap</title>

    <link href="~/Content/bootstrap-4.3.1-dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-4.3.1-dist/css/bootstrap.css" rel="stylesheet" />
    <!-- Custom styles for this template -->

    <link href="~/Content/signin.css" rel="stylesheet">

</head>
<body>
    @RenderBody()
</body>
</html>
