@{
    ViewBag.Title = "关于我们";
}
<div class="wrap-container">
    <div id="main-content">
        <div class="wrap-content">
            <div class="zerogrid">
                <div class="row">
                    <div class="card shadow-sm center-block" style="width: 30rem;">
                        <div class="card-body">

                            <img src="~/images/newsImages/2.jpg" class="card-img-top" />
                            <h2 class="card-title">Pay your attention on the work.</h2>
                            <h2 class="card-title">Pay your attention on the world.</h2>
                            <p class="card-text">
                                About us:<br />
                                作者:黄澎广,陈铭威<br />
                                联系方式: Gafulungatie@gmail.com<br />
                                <hr />
                                N21°16'17.59"  E110°20'37.97"
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<br />
<br />
<br />
<br />
<br />


<script>
    $(function () {
        $('.example-popover').popover({
            container: 'body'
        })
    });
</script>


