@{
    ViewBag.Title = "关于我们";
}
<div class="wrap-container">
    <div id="main-content">
        <div class="wrap-content">
            <div class="zerogrid">
                <div class="row">
                    <div class="card shadow-sm center-block" style="width: 30rem;">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                            <p class="card-text">
                                本网站:<br/>
                                作者:陈明威,Gafulungatie<br/>
                                联系方式: Gafulungatie@gmail.com
                            </p>
                            <a href="#" class="card-link">捐赠支付宝</a>
                            <a href="#" class="card-link">捐赠微信</a>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>






