@model List<MyNewBlog.Models.Category>

@{
    ViewBag.Title = "主页";
}
<div class="wrap-container">
    <div id="main-content">
        <div class="wrap-content">
            <div class="zerogrid">
                <div class="row">


                    @for (int i = 0; i < 9; i += 3)
                    {

                        <div class="col-1-3">

                            <div class="wrap-col">

                                @for (int j = i; j < 3 + i; j++)
                                {
                                    
                                    <a class="portfolio-box zoom-effect" href="~/Home/Archives/categoryId/@Model[j].id">
                                        <img src="~/images/newsImages/@(j+1).jpg" class="img-responsive" alt="">
                                        <div class="portfolio-box-caption">
                                            <div class="portfolio-box-caption-content">
                                                <div class="project-name">
                                                    <span>@Model[j].cateName</span>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                }
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>






