@using MyNewBlog.Models
@{

    NewsInformationEntities db = new NewsInformationEntities();
    var links = from c in db.Link
                select c;
    var linkItems = links.ToList();
}

<footer class="blockquote-footer navbar-inverse">
    <div class="zerogrid wrap-footer">
        <div class="row text-monospace">
            <div class="col-sm-3 col ">
                <h3>扫码关注</h3>
                <br />
                <div class="container">
                    <img src="~/images/wechat.jpg" style="width:110px;height:110px;" />
                </div>
            </div>
            <div class="col-sm-6 col center-block bottom-social">
                <div class="container">
                    <hr>
                    <h5>我们从不制造新闻，我们只是新闻的搬运工。</h5>
                    <h5>We don't make news. We're just porters of news.</h5>
                    <hr>
                    <h5>N21°16'17.59" E110°20'37.97"</h5>
                </div>
            </div>
            <div class="col-sm-3 col center-block">
                <h3>友情链接</h3>
                <br />
                @{
                    foreach (var item in linkItems)
                    {
                        <a href="@item.url" style="color:white"><i class="fa fa-facebook"></i>@item.title</a><br />
                    }
                }
            </div>

        </div>
        <div class="copyright">
            Copyright &copy;<p>&copy; @DateTime.Now.Year - Atención网站</p>
        </div>
    </div>

</footer>
